@import url('../app.css');

/* ========== */
/* ===MAIN=== */
/* ==========  */
.section_title video {
    width: 100%; /* Ajusta el ancho según tus necesidades */
    height: auto; /* Ajusta la altura según tus necesidades */
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Coloca el video detrás del contenido */
}

.section_title img{
    width: 100%;
    height: auto;
}