@import url('../app.css');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");


/* ========== */
/* ===MAIN=== */
/* ==========  */

.section_title{
    height: 700px;
}

.section_title video {
    width: 100%; /* Ajusta el ancho según tus necesidades */
    height: auto; /* Ajusta la altura según tus necesidades */
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Coloca el video detrás del contenido */
}

.section_title div{
    color: var(--white);
    width: 100%;
    height: auto;
}

.section_title img{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10%;
}


.section_title a{
    margin-left: 47%;
    margin-right: 44%;
}

.section_houses{
    background-image: url("../img/fondocasas.jpg");
    background-size: cover;
    background-position: center;
    font-family: 'Harry Potter', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section_houses h2{
    color: #B8860B;
    font-size: 100px;
    text-shadow: 1px 1px 3px #885920, 2px 2px 3px #885920, 3px 3px 3px #885920;
}
.gallery_houses{
    display: flex;
    width: 900px;
    height: 516px;
}

.gallery_houses img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.gallery_houses img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}


.section_teachers{
    background-image: url("https://get.wallhere.com/photo/1920x1080-px-castle-dark-fantasy-room-1590281.jpg");
    background-size: cover;
    background-position: center;
    font-family: 'Harry Potter', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section_teachers h2{
    color: #B8860B;
    font-size: 100px;
    text-shadow: 1px 1px 3px #885920, 2px 2px 3px #885920, 3px 3px 3px #885920;
}
.gallery_teachers{
    display: flex;
    width: 900px;
    height: 516px;
}

.gallery_teachers img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.gallery_teachers img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}
