@import url('../app.css');

/* ========= */
/* =NAV BAR= */
/* =========  */

nav {
    background-color: var(--background-nav);
}

.navbar-brand {
    background-color: var(--background-nav);
    color: var(--item-nav);
}

.navbar-brand:hover {
    color: var(--light);
}

.bi-volume-mute-fill{
    color: var(--white);
    font-size: 28px;
    margin-right: 10px;
}

.logo-hogwarts {
    width: 10%;
    height: auto;
}
