@import url('../app.css');

/* ========= */
/* =NAV BAR= */
/* =========  */

nav{
    background-color: var(--background-nav);
}

.navbar-brand{
    background-color: var(--background-nav);
    color: var(--item-nav);
}

.navbar-brand:hover{
    color: var(--light);
}

.logo-hogwarts{
    width: 20%;
    height: auto;
}

