@import url('../app.css');

/* ========= */
/* =NAV BAR= */
/* =========  */

nav {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-nav);
}

.navbar-brand {
    background-color: var(--background-nav);
    color: var(--item-nav);
}

.navbar-brand:hover {
    color: var(--light);
}

.bi-volume-mute-fill{
    position: absolute;
    margin-left: 96%;
    color: var(--item-nav);
    font-size: 35px;
    margin-right: 10px;
}

.bi-volume-up-fill{
    position: absolute;
    margin-left: 96%;
    color: var(--item-nav);
    font-size: 35px;
    margin-right: 10px;
}

.logo-hogwarts {
    width: 10%;
    height: auto;
}
